html,
body {
	margin: 0;
	height: 100%;
}

h1 {
	font-weight: 300;
	font-size: 10rem;
}

.hackerFont {
	font-family: Hacked;
	color: rgb(49, 230, 13);
	display: flex;
	justify-content: center;
}

.hackerImage {
	display: flex;
	justify-content: center;
}
#skull {
	width: 500px;
}
